% from LS30Util import Config
% include(Config.getWEBTemplatesDir() + '/header.html', title = pageTitle)

<div class="w100 line pas">Total events in log:</strong> {{totalEventCount}}</div>

<!-- paginator -->
<div class="wauto line pas">
% for page in pageList:
	<div class="inbl">
% if (page['actual'] == 1):
	<strong>
% end
	<a href="{{ get_url('device_log', entryStart=page['entryStart'], entryEnd=page['entryEnd']) }}">{{ page['number'] }}</a>
% if (page['actual'] == 1):
	</strong>
% end
	</div>  
% end
</div>

<table class="striped alternate">
  <tr>
    <th scope="col" class="w50p">No.</th>
    <th scope="col" class="w100p">Code</th>
    <th scope="col">Event</th>
    <th scope="col" class="w100p">Zone</th>
    <th scope="col">Type</th>
    <th scope="col" class="w100p">Activated</th>
    <th scope="col">Date</th>
    <th scope="col">Time</th>
  </tr>

  % for event in eventList:
  <tr>
    <td>{{event['number']}}</td>
    <td>{{event['code']}}</td>
    <td>{{event['event']}}</td>
    <td>{{event['zone']}}</td>
    <td>{{event['event_type']}}</td>
    <td>{{event['activated']}}</td>
    <td>{{event['date']}}</td>
    <td>{{event['time']}}</td>
  </tr>
  % end


</table>



%include(Config.getWEBTemplatesDir() + '/footer.html')

